<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- this makes <%= title %> dynamic (open to render by JS)-->
  <title><%= title %></title>
</head>

<body>
  <img src="<%= image %>" alt="baby yawning" height="300px">
  <% for (let i = 0; i < 4; i++) { %>
  <h1>Hello <%= name %> <%= day %></h1>
  <% } %>
</body>

</html>